[package]
name = "macro_magic_core"
version = "0.1.5"
edition = "2021"
description = "Core implementation behind macro_magic"
repository = "https://github.com/sam0x17/macro_magic"
homepage = "https://sam0x17.dev"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
quote = "1.0"
syn = { version = "1.0", features = ["full"] }
atomicwrites = { version = "0.4.0", optional = true }

[features]
default = []
verbose = []
indirect = ["indirect-read", "indirect-write"]
indirect-read = []
indirect-write = ["dep:atomicwrites"]
